.footer__logo {
    color: #545454;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    margin: 0;
}

@media screen and (max-width: 568px) {
    .footer__logo {
        font-size: 14px;
        line-height: 121%;
        padding-left: 19px;
    }
}