.popup__content{
    width: 430px;
    height: 330px;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 568px) {
    .popup__content {
        max-width: 282px;
        min-height: 322px;
        margin: 0 19px 0;
    }
}