.profile__edit {
       display: flex;
       align-items: center;
       justify-content: center;
       margin-left: 18px;
       margin-top: 16px;
       background-color: black;
       width: 24px;
       height: 24px;
       cursor: pointer;
       border: 1px solid #FFFFFF;
       padding: 0;
       opacity: 1;
       transition: opacity 0.5s linear 0s;
}

.profile__edit:hover {
       opacity: 0.6;
}

@media screen and (max-width: 568px) {
       .profile__edit {
              margin: 0 0 0 12px;
              width: 18px;
              height: 18px;
       }
}