.popup__save {
    background-color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: white;
    max-width: 100%;
    min-height: 50px;
    margin: 18px 36px 37px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    border: none;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 568px) {
    .popup__save {
        margin: 15px 22px 25px;
        max-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 121%;
    }
}