.header {
    max-width: 880px;
    min-height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 45px 200px 40px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width: 1060px) {
    .header {
        margin: 45px 100px 40px;
    }
}

@media screen and (max-width: 568px) {
    .header {
        min-width: 320px;
        min-height: 58px;
        margin: 28px 0 38px;
    }
}