.popup__save_disabled {
    background-color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #E5E5E5;
    max-width: 358px;
    min-height: 50px;
    margin: 18px 36px 37px;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    border: 1px solid #E5E5E5;
    opacity: 1;
    transition: opacity 0.5s linear 0s;
}

@media screen and (max-width: 568px) {
    .popup__save_disabled {
        margin: 15px 22px 25px;
        max-width: 238px;
        min-height: 46px;
        font-size: 14px;
        line-height: 121%;
    }
}