.elements__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 23px 15px 31px 20px;
    align-items: center;
    max-height: 79px;
    line-height: 0;
}