.elemеnts__delete {
    width: 18px;
    height: 19px;
    background-size: 100%;
    right: 21px;
    top: 20px;
    cursor: pointer;
    border: none;
    padding: 0;
    position: absolute;
    background-color: transparent;
    background-image: url('../../../images/trash.svg');
}

.elemеnts__delete:hover {
    opacity: 0.6;
}