.elements__like {
    background-image: url(../../../images/like.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-size: 100%;
    cursor: pointer;
    padding: 0;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
   }

.elements__like:hover {
    opacity: 0.5;
}

.elements__like:focus {
    background-image: url(../../../images/like_active.svg);
    opacity: 1;
}