.elements__like {
    background-image: url(https://code.s3.yandex.net/web-code/dom/heart.svg);
    width: 22px;
    height: 19px;
    border: none;
    background-size: 100%;
    cursor: pointer;
    padding: 0;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
}

.elements__like:hover {
    opacity: 0.5;
}

.elements__like:focus {
    background-image: url(https://code.s3.yandex.net/web-code/dom/heart-filled.svg);
}