.profile__elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

@media screen and (max-width: 568px) {
    .profile__elements {
        flex-direction: column;
        
    }
}