.popup__opened-photo {
    width: 433px;
    height: 540px;
    margin: 0;
    position: relative;
}

@media screen and (max-width: 568px) {
    .popup__opened-photo {
        max-width: 240px;
        height: 299px;
    }
}