.popup__opened-photo {
    max-width: 816px;
    max-height: 540px;
    margin: 0;
    position: relative;
    object-fit: cover;
}

@media screen and (max-width: 940px) {
    .popup__opened-photo {
        max-width: 400px;
        height: 450px;
    }
}

@media screen and (max-width: 568px) {
    .popup__opened-photo {
        max-width: 240px;
        height: 299px;
    }
}